importFrom("grDevices", "x11")
importFrom("graphics", "abline", "lines", "par", "legend", "axis", "box", "polygon")
importFrom("stats", "acf", "coef", "quantile", "sd", "uniroot", "na.pass", "pacf")

export(funpcaEst)
export(funpca)
export(plot.funpca)
export(print.funpca)
export(summary.funpca)

S3method(plot, funpca)
S3method(print, funpca)
S3method(summary, funpca)
S3method(funpca,default)

# Import all packages listed as Imports or Depends
import(
    Brobdingnag,
    MASS,
    nlme,
    fda
)